<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include header %>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title><%= title %></title>
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Economica:700,400italic' rel='stylesheet' type='text/css'>
    <br><br><br>
    <img src="img/card.png" width="100%" class="back">
    </head>
    <body>
      <%- include navbar %>
      <div class="container">
      <header>
        <!-- <br><br><br> -->
        <h1>アンディ と　ボボのラブストーリー </h1>
        <h2>お前のため、何でもできる！</h2>
      </header>
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Todolist</h2>
          <p>We can memo on this website for reminding each other what is going to due and when will we be busy. As the time we can meet become less and less, it's a good way for us to share life</p>
          <a href="/todolist" class="da-link">Check it now</a>
          <div class="da-img center_img"><img src="img/cookie_man.png" alt="image01" width="50%"/></div>
        </div>
        <div class="da-slide">
          <h2>Timeline</h2>
          <p>It has been 4 months since we last meet. I miss you very much. By collecting photos we took, I wrote some words for my lovely bo. </p>
          <a href="/timeline" class="da-link">Check it now</a>
          <div class="da-img center_img"><img src="img/cookie_woman.png" alt="image01" width="50%"/></div>
        </div>
        <div class="da-slide">
          <h2>Upload</h2>
          <p>Every time you send me a letter, I'm so happy to read your words. However, you are not used to write diary. This is the way I encourage you to share daily life to me :)</p>
          <a href="#" class="da-link">Check it now</a>
          <div class="da-img center_img"><img src="img/chick.jpg" alt="image01" width="50%"/></div>
        </div>
        <!-- <div class="da-slide">
          <h2>Quality Control</h2>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <a href="#" class="da-link">Read more</a>
          <div class="da-img"><img src="img/4.png" alt="image01" /></div>
        </div> -->
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
        </div>
    <%- include footer %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.cslider.js"></script>
    <script type="text/javascript">
      $(function() {
      
        $('#da-slider').cslider();
        
      });
    </script> 
    </body>
</html>