<!doctype html>

<html lang="zh-TW">
<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="css/user.css">
</head>
  <meta charset="UTF-8">
  <title>Love Spreading</title>
  <link href="css/normalize.css" rel="stylesheet" media="screen">
  <link href="css/index.css" rel="stylesheet" media="screen">
</head>
<body>
  <%- include navbar %>

  <div>First Page</div>
  <div><img src="img/cookie_man.png" width="100%" class="coockie"></div>
  
  <div>Second Page</div>
  <div>Third Page</div>
</body>
</html>